* {
    margin: 0;
    padding: 0;
}

.images-window {
    margin: 50px auto;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.images {
    position: relative;
}

.images>img {
    position: absolute;
    transition: transform .5s;
    left: 0;
}

/* .images>img:not(:nth-child(1)) {
    left: 100%;
}

.images>img.right {
    left: 100%;
} */

.images>img.current {
    transform: translateX(0);
    z-index: 1;
}

.images>img.leave {
    transform: translateX(-100%);
}

.images>img.enter {
    transform: translateX(100%);
}
